<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap"
  rel="stylesheet">
<div style="font-family: 'Work Sans', sans-serif;overflow:auto;line-height:1.5">
  <div style="margin:50px auto;width:70%;padding:20px 0">
    <div style="border-bottom:1px solid #eee">
      <a href="" style="font-size:1.2rem;color: #00466a;text-decoration:none;font-weight:400">wunderPlatform</a>
    </div>
    <p style="font-size:1.2em">Hi Service Admin,</p>
    <p>Your Service has been onboarded to wunderPlatform. Please find attached the Private Key, Contract and Validity JSON. </p>
    <p style="font-size:0.9em;">Regards,<br />wunderPlatform Onboarding Team</p>
    <hr style="border:none;border-top:1px solid #eee" />
  </div>
</div>